*{
   margin: 0;
   padding: 0;
}

#flex-container {
   display: flex;
   justify-content: center;
}

body {
   background: url('../img/IMG_2210bw.jpg') fixed 0 0/cover;
}

a:link {
   text-decoration: none;
}

a:hover {
    color: black;
}

a:visited {
    color: white;
}

#banner > h1 {
   justify-content: center;
   cursor: context-menu;
   min-height: 2rem;
   line-height: .9;
   position: relative;
   text-align: left;
   font-size: 7.5rem;
   margin-bottom: 3px;
   font-family: 'Poiret One', cursive;
   padding: 40px;
   color: #FFDB3A;
}

#banner > h2 {
   justify-content: flex-end;
   cursor: context-menu;
   min-height: 2rem;
   position: relative;
   text-align: right;
   font-size: 3rem;
   font-family: 'Poiret One', cursive;
   padding: 40px;
   margin-top: 90px;
   color: white;
}


#content > p {
   font-size: 1rem;
   line-height: 1.8;
   text-align: left;
   width: 30%;
   padding-left: 40px;
   padding-top: 10px;
   padding-bottom: 20px;
   font-family: 'Open Sans', sans-serif;
}

#content > p:nth-of-type(odd) {
   position: static;
   text-align: left;
   font-size: 1rem;
   font-family: 'Open Sans', sans-serif;
   padding-left: 40px;
   padding-top: 10px;
   color: black;
}

div h1 {
   justify-content: center;
   font-size: 8rem;
   margin-top: 30px;
   margin-bottom: 40px;
   margin-left: 20px;
   font-family: 'Poiret One', cursive;
   color: #FFDB3A;
}

div h2 {
   font-size: 3rem;
   line-height: 1.8;
   font-family: 'Poiret One', cursive;
   margin-left: 18px;
   color: white;
}

#content h3 {
   font-size: 4rem;
   line-height: 0.5;
   font-family: 'Poiret One', cursive;
   margin-top: 25px;
   margin-left: 40px;
   color: white;
}

h1, h2, div {
   text-align: left;
   padding-left: 20px;
}

div div {
   padding-left: 10px;
   padding-bottom: 50px;
   font-size: 3rem;
   font-family: 'Poiret One', cursive;
}

.navbar {
  overflow: hidden;
  background-color: #FFDB3A;
  color: #f2f2f2;
  font-family: 'Poiret One', cursive;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 20px;

}

a.active {
  background-color: #4CAF50;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 10px;
}
