*{
   margin: 0;
   padding: 0;
}

#flex-container {
   display: flex;
   justify-content: center;
}

body {
   background: url('../img/IMG_2210bw.jpg') fixed 0 0/cover;
}

body {
   height:1600px;
   background-color: white;
}

a:link {
   text-decoration: none;
   color: white;
}

a:hover {
    color: #DB3863;
}

a:visited {
    color: white;
}

#home {
   padding-bottom: 50px
}

#banner > h1 {
   justify-content: center;
   cursor: context-menu;
   min-height: 2rem;
   line-height: .9;
   position: relative;
   text-align: left;
   font-size: 7.5rem;
   margin-bottom: 3px;
   font-family: 'Poiret One', cursive;
   padding: 40px;
   color: rgb(245, 206, 67);
}

#banner > h2 {
   justify-content: flex-end;
   cursor: context-menu;
   min-height: 2rem;
   position: relative;
   text-align: right;
   font-size: 3rem;
   font-family: 'Poiret One', cursive;
   padding: 40px;
   margin-top: 90px;
   color: white;
}


div p {
   font-size: 1rem;
   line-height: 1.8;
   text-align: left;
   width: 40%;
   padding-left: 60px;
   padding-top: 20px;
   padding-bottom: 20px;
   font-family: sans-serif;
}

div p:nth-of-type(odd) {
   justify-content: center;
   cursor: context-menu;
   min-height: 1rem;
   position: relative;
   text-align: right;
   font-size: 1rem;
   font-family: 'Open Sans', sans-serif;
   padding: 40px;
   margin-top: 50px;
   color: black;
}

div h1 {
   justify-content: center;
   font-size: 8rem;
   margin: 30px;
   font-family: 'Poiret One', cursive;
   color: rgb(245, 206, 67);
}

div h2 {
   font-size: 3rem;
   line-height: 1.8;
   font-family: 'Poiret One', cursive;
   color: white;
}

div h3 {
   font-size: 3rem;
   line-height: 2;
   font-family: 'Poiret One', cursive;
   color: white;
}

h1, h2, div {
   color: black;
   text-align: center;
}

div div {
   padding-bottom: 50px;
   font-size: .8rem;
}

.navbar {
  overflow: hidden;
  color: #f2f2f2;
  font-family: 'Poiret One', cursive;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 20px;

}

a.active {
  background-color: #4CAF50;
  color: black;
}

.main {
  padding: 16px;
  margin-bottom: 10px;
}
