*{
   margin: 0;
   padding: 0;
}

#flex-container {
   display: flex;
   justify-content: center;
}

body {
   background: url('../img/650_2x.jpg') fixed 0 0/cover;
}

#banner > h1 {
   justify-content: center;
   cursor: context-menu;
   line-height: .7;
   position: relative;
   text-align: left;
   font-size: 6rem;
   font-family: 'Monoton', cursive;
   padding: 5px;
   margin-left: 20px;
   color: #FFDB3A;
}

h1:nth-of-type(2) {
   padding-bottom: 20px;
}

#banner > h2 {
   justify-content: flex-end;
   cursor: context-menu;
   position: relative;
   text-align: right;
   font-size: 3rem;
   font-family: 'Poiret One', cursive;
   padding: 30px;
   color: white;
}


#content > p {
   font-size: 1rem;
   line-height: 1.8;
   text-align: left;
   width: 30%;
   padding-left: 40px;
   padding-top: 10px;
   padding-bottom: 20px;
   font-family: 'Raleway', sans-serif;
}

div h1 {
   justify-content: center;
   font-size: 8rem;
   margin-top: 40px;
   margin-left: 10px;
   font-family: 'Poiret One', cursive;
   color: #FFDB3A;
}

div h2 {
   font-size: 3rem;
   line-height: 1.8;
   font-family: 'Poiret One', cursive;
   margin-left: 18px;
   color: black;
}

#content h3 {
   font-size: 6rem;
   line-height: 0.5;
   font-family: 'Poiret One', cursive;
   margin-top: 200px;
   margin-bottom: 10px;
   margin-left: 40px;
   color: #FFDB3A;
}

h1, h2, div {
   text-align: left;
   padding-left: 20px;
}

div div {
   padding-left: 10px;
   padding-bottom: 20px;
   font-size: 3rem;
   font-family: 'Poiret One', cursive;
}

.navbar {
  overflow: hidden;
  background-color: black;
  color: #f2f2f2;
  font-family: 'Poiret One', cursive;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 20px;

}

a:active {
  color: white;
}

a:link {
   text-decoration: none;
}

a:visited {
   color: white;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.main {
  padding: 16px;
  margin-bottom: 10px;
}
